.content {
    background-color: #FDFDFD;
    background-color: rgba(253, 253, 253, 1);
    padding: 10px 39px;
}

#contactInfo {
    margin-top: 20px;
}

#arrow {
    position: absolute;
    margin-left: 304px;
    margin-top: 46px;
    width: 144px;
    z-index: 10;
}

#headVisit {
    margin-top: 50px;
}

#logo {
    margin-top: 10px;
    margin-bottom: 20px;
}

#headContact {
    margin-top: 20px;
    margin-bottom: 10px;
}

.content h3 {
    color: #7FB3B1;
    color: rgba(127, 179, 177, 1);
}

.content h4 {
    color: #000;
}

.content h4:hover {
    color: #7FB3B1;
    color: rgba(127, 179, 177, 1);
}

.content a:hover {
    text-decoration: none;
}
.content .facebook-logo{
    display: block;
    margin-top: 20px;
    box-shadow: 1px 1px 1px rgba(210, 210, 200, 0.8);
    width: 200px;
}
.content .facebook-logo:hover{
}
.content .facebook-logo img{
    width: 200px;
}
a.newsletter:hover{
    color:#ffffff;
    background-color: #7FB3B1;
    background-color: rgba(127, 179, 177, 0.8);
}
a.newsletter {
    background-color: #E7B1AF;
    background-color: rgba(231, 177, 175, 1);
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(210, 210, 200, 0.8);
    color:#FFFFFF;
    display: inline-block;
    font-family: Verdana,serif;
    font-size: 12px;
    font-weight:bold;
    padding: 3px 4px;
    text-decoration: none;
    margin-top:10px;
}