<link rel="stylesheet" href="css/cupcakes.css"/>
<div class="content">
  <div class="row">
    <div class="span9">
      <h1>About Us</h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      The Cupcake Garden brings together two baking companies and four creative partners.
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <img src="img/cupcake.png" alt=""/>
    </div>
    <div class="span6">
      <br>
      <div><strong>I Love Baking</strong></div>
      <div>I Love Baking, started by mother and daughter team, began in January 2011 specializing in Sugar Cookies, Rusks and Preserves.  Lana van Rensburg and her mother Lauretta le Roux have a great love for food, the making of it and the art involved.</div>
      <br>
      <div>They have supplied numerous corporate companies, offered occasional gifts and wedding favours.</div>
      <br>
      <div>“My mom and I have a very close relationship - we love every minute being in the kitchen, baking and having tons of fun!” – Lana van Rensburg.</div>
      <br>
      <div><strong>Vanilla Ribbon Cupcakes</strong></div>
      <div>Vanilla Ribbon Cupcakes specializes in custom made and delicious cupcakes decorated to suit individual needs.  Operating since 2008, Vanilla Ribbon Cupcakes have provided beautifully decorated cupcakes for various occasions, including celebrity clothing launches, magazine shoots, weddings, corporate functions, birthdays, baby showers and many more.</div>
      <br>
      <div>Another mother a daughter team, Pat Pirie and Kirby Purchase, ensure that love and passion go into everything that they create.</div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <div><strong>The Cupcake Garden</strong></div>
      <div>With the joining of two mothers and two daughters, The Cupcake Garden brings together four passionate and creative friends who put their love into everything they make.  Come visit us at our store to see all the delicious goodies that we offer.  With cupcakes, biscuits, rusks and more, you’re sure to walk out with delicious goodies.</div>
    </div>
  </div>
</div>