<div class="content other">
    <div class="row">
        <div class="span9">
            <h1>Cakes</h1>
            <br>
            Please see our gallery and Facebook page for examples of cakes that we do.
            <br>
            We specialise in mini fondant covered cakes or larger buttercream cake.
            <br>
            We only do small two tiered cakes. We do not make tiered cakes that require support.
        </div>
    </div>
    <div class="row cake-header">
        <div class="span9">
            <h3>Mini two-tier cake</h3>
            <strong>Bottom tier 15cm / Top tier 10cm</strong>
        </div>
    </div>
    <div class="row">
        <div class="span3 thumbnail cake" ng-repeat="num in [1,2,3]">
            <img ng-src="img/cakes/mini-{{num}}.jpg"/>
        </div>
    </div>

    <div class="row cake-header">
        <div class="span9">
            <h3>Buttercream covered cakes with toppers</h3>
        </div>
    </div>
    <div class="row">
        <div class="span3 thumbnail cake" ng-repeat="num in [1,2,3]">
            <img ng-src="img/cakes/buttercream-{{num}}.jpg"/>
        </div>
    </div>

    <div class="row cake-header">
        <div class="span9">
            <h3>Barbie Cakes</h3>
        </div>
    </div>
    <div class="row">
        <div class="span3 thumbnail cake" ng-repeat="num in [1,2,3]">
            <img ng-src="img/cakes/barbie-{{num}}.jpg"/>
        </div>
    </div>

</div>