<link rel="stylesheet" href="css/cupcakes.css"/>
<div class="content">
  <div class="row">
    <div class="span9">
      <h1>Cupcake Decorating Classes</h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      Visit our Facebook page to keep updated on our decorating classes or contact us for more information.
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <img src="img/cupcake.png" alt=""/>
    </div>
    <div class="span3">
      <br>
      <div class="row"><strong>3D Fondant Figurines</strong></div>
      <div class="row">Teddy bears / cartoons</div>
      <br>
      <div class="row"><strong>Fondant Flowers</strong></div>
      <div class="row">Flowers and different modelling techniques</div>
      <br>
      <div class="row"><strong>Holiday Classes</strong></div>
      <div class="row">Christmas cake decorations / Easter</div>
      <div class="row">Decoration / Love and Valentines</div>
      <br>
      <div class="row"><strong>Private Party Lesson</strong></div>
      <div class="row">“Make a Cupcake” Party - Just for you and your friends</div>
    </div>
  </div>
</div>