<link rel="stylesheet" href="css/contact-us.css"/>
<div class="content">
	<div class="row">
		<div class="span9">
			We prefer orders to be placed five days in advance; however we may be able to accommodate a shorter notice
			depending on how busy we are.
			Contact us via email with your request and we will get back to you as soon as possible with costs and
			availability.
			Please provide your required date and as much information as possible regarding what you want (décor).
		</div>
	</div>
	<div class="row" id="contactInfo">
		<div id="arrow"><img src="img/arrow.gif" alt></div>
		<div class="span5">
      <h3 id="headVisit">Visit Our Store:</h3>
			<div class="row" id="logo">
				<div class="span5"><img src="img/logo_basic.gif" alt /></div>
			</div>
			<div>Cape Garden Centre</div>
			<div>56 Tarentaal Street</div>
			<div>Joostenbergvlakte</div>
			<div>Kraaifontein</div>
			<div id="headContact">
				<h3>Or Contact Us:</h3>
			</div>
			<div class="row">
				<div class="span1">email:</div>
				<div class="span4"><a href="mailto:info@thecupcakegarden.co.za">
					<h4>info@thecupcakegarden.co.za</h4>
				</a></div>
			</div>
			<div class="row">
				<div class="span1">tel:</div>
				<div class="span4">(021) 811 2130</div>
			</div>
      <div class="row">
        <a class="span3 facebook-logo" href="http://www.facebook.com/pages/The-Cupcake-Garden/135452913192655" target="_blank">
          <img src="img/facebook-logo.png" alt/>
        </a>
      </div>
      <a class="newsletter" href="http://www.graphicmail.co.za/RWCode/subscribe.asp?SiteID=38214&Mode=subscribe" target="_blank" toptions="group = links, type = iframe, effect = fade, width = 600, height = 475, overlayClose = 1, layout = quicklook">SUBSCRIBE TO OUR MONTHLY NEWSLETTER</a>
		</div>
		<div class="span4" id="map"><img src="img/map.gif" alt/>
		</div>
	</div>
</div>