<link rel="stylesheet" href="css/cupcakes.css"/>
<div class="content">
  <div class="row">
    <div class="span9">
      <h1>Custom Cupcakes</h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      Specialty, custom cupcake prices are based on what you choose.  Our standard cupcake prices ranges from R10 each to R20 each depending on your choice of icing, fillings, colours, decoration and packaging.  The minimum order for customized cupcakes is one dozen.  Final price will be quote upon ordering.
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <img src="img/cupcake.png" alt=""/>
    </div>
    <div class="span3">
      <br>
      <div class="row"><strong>Cake Flavours</strong></div>
      <div class="row">Vanilla / Chocolate / Red Velvet</div>
      <div class="row">Carrot / Cappuccino</div>
      <br>
      <div class="row"><strong>Icing</strong></div>
      <div class="row">Butter Cream / Fondant / Cream Cheese</div>
      <div class="row">Chocolate Ganache / Meringue</div>
      <br>
      <div class="row"><strong>Size</strong></div>
      <div class="row">Our standard cupcakes are muffin size</div>
      <br>
      <div class="row"><strong>Colours</strong></div>
      <div class="row">Many colours to choose from</div>
      <br>
      <div class="row"><strong>Fillings</strong></div>
      <div class="row">Caramel</div>
      <div class="row">Choc Mint Caramel</div>
      <div class="row">Choc Hazelnut Caramel</div>
      <div class="row">Chocolate Mousse</div>
      <div class="row">Vanilla Mousse</div>
      <div class="row">Strawberry Mousse</div>
      <div class="row">Strawberry Jam</div>
      <div class="row">Lemon Meringue</div>
    </div>
  </div>
</div>