<link rel="stylesheet" href="css/cupcakes.css"/>
<div class="content">
  <div class="row">
    <div class="span4">
      <div class="row list">
        <h1>Functions</h1>
        <br>
        <div class="row">From canapés and candy to desserts and décor, The Cupcake Garden caters for small functions and parties (20 max).  Please contact us for our food and function package options.</div>
        <br>
        <div class="row"><strong>High Tea</strong></div>
        <div class="row">“Let them eat cake”… and much more.</div>
        <br>
        <div class="row"><strong>Themed Parties</strong></div>
        <div class="row">‘La di Da’ or ‘just to chill’, your event will  be a thrill</div>
        <br>
        <div class="row"><strong>Kitchen Tea</strong></div>
        <div class="row">Just for the ladies before the big day</div>
        <br>
        <div class="row"><strong>Baby Shower</strong></div>
        <div class="row">Sugar and spice and all things nice</div>
        <br>
        <div class="row"><strong>“Make a Cupcake” Party</strong></div>
        <div class="row">Private cupcake classes for all ages</div>
      </div>
    </div>
    <div class="span1">&nbsp;</div>
    <div class="span4">
      <div class="row list">
      <h1>Decorating Classes</h1>
      <br>
      <div class="row">Visit our Facebook page to keep updated on our cupcake decorating classes or contact us for more information.</div>
        <br>
        <br>
        <div class="row"><strong>3D Fondant Figurines</strong></div>
        <div class="row">Teddy bears / cartoons</div>
        <br>
        <div class="row"><strong>Fondant Flowers</strong></div>
        <div class="row">Flowers and different modelling techniques</div>
        <br>
        <div class="row"><strong>Holiday Classes</strong></div>
        <div class="row">Christmas cake decorations / Easter</div>
        <div class="row">Decoration / Love and Valentines</div>
        <br>
        <div class="row"><strong>Private Party Lesson</strong></div>
        <div class="row">“Make a Cupcake” Party - Just for you and your friends</div>
    </div>
    </div>
  </div>



</div>