<link rel="stylesheet" href="css/cupcakes.css"/>
<div class="content">
  <div class="row">
    <div class="span9">
      <h1>In the Store - Cupcakes and More</h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      For individual and delicious cupcakes and other baked goods, visit our store at The Cape Garden Center.  See the contact page for details.
    </div>
  </div>
  <div class="row">
    <div class="span1">&nbsp;</div>
    <div class="span4">
      <img src="img/bird.png" alt=""/>
    </div>
    <div class="span1">&nbsp;</div>
    <div class="span3">
      <br>
      <div><strong>Cupcakes</strong></div>
      <div>Freshly baked and beautifully decorated cupcakes.  Many flavours and fillings available.</div>
      <br>
      <div><strong>Biscuits</strong></div>
      <div>“Crunchy and tasty and sweet – oh my”</div>
      <br>
      <div><strong>Rusks</strong></div>
      <div>Mmmm lekker beskuit</div>
      <br>
      <div><strong>Meringues</strong></div>
      <div>Melt in your mouth meringues in many colours</div>
      <br>
      <div><strong>Yummy Gifts</strong></div>
      <div>Packaged to perfection for that special someone or just cause it looks good.</div>
      <br>
      <div><strong>Cupcake Accessories</strong></div>
      <div>So you can make and decorate your own cupcakes</div>
      <div>Cutters / fondant toppers and decoration / tools</div>
    </div>
  </div>
</div>